<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>About Us</title>
</head>
<body>


<div layout:fragment="content">

    <h3>WELCOME TO JUST CINEMAS</h3>
    <p>
    <p>

    <p>Coming from Chennai, that has a rich legacy of cinema, we are a theatre chain with a passion for
        experiences
        and
        an even bigger passion to share them with our customers. We understand the joy of watching our favourite
        stories
        come alive on the big screen, and believe that it is our duty to go the extra mile to make this
        experience
        as
        immersive as we possibly can!</p>
    <p>We operate 52 screens across Tamil Nadu, Maharashtra, Karnataka, Kerala, Telangana and Andhra Pradesh.
        With
        more
        cinemas in the pipeline, we are all set to take the Just Experience to new audiences across more cities
        and
        towns.</p>

</div>


</body>
</html>